openapi: 3.1.0
info:
  title: Folder Fetch
  description: Sample folder fetch API that returns a hard-coded mapping of usernames to folder lists.
  contact: {}
  version: v1.0
servers:
  - url: https://choreoapis.dev/default/Folder-fetch/v1.0
paths:
  /:
    get:
      summary: Get folder list
      description: Returns a hard-coded mapping of usernames to folder lists.
      operationId: getFolderList
      parameters:
        - in: query
          name: username
          required: false
          schema:
            type: string
          description: The username to fetch folders for (optional).
      responses:
        '200':
          description: A JSON object mapping usernames to an array of folder names.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
              example:
                "rain@wso2.com":
                  - "project A"
                  - "project B"
                "user2@wso2.com":
                  - "project c"
                  - "project A"
                "alex@wso2.com":
                  - "project D"
                  - "project B"
                "jimy@wso2.com":
                  - "project E"
      security:
        - default: []
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-throttling-limit:
        requestCount: -1
        unit: MINUTE
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://test.com
          scopes: {}
x-wso2-disable-security: false
x-wso2-auth-header: "Authorization"
x-wso2-cors:
  corsConfigurationEnabled: false
  accessControlAllowOrigins:
    - "*"
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
    - "authorization"
    - "Access-Control-Allow-Origin"
    - "Content-Type"
    - "SOAPAction"
    - "apikey"
    - "API-Key"
    - "testKey"
  accessControlAllowMethods:
    - GET
    - OPTIONS
x-wso2-production-endpoints:
  urls:
    - https://samples.choreoapps.dev/folderfetch/cs
  type: http
x-wso2-sandbox-endpoints:
  urls:
    - https://samples.choreoapps.dev/folderfetch/cs
  type: http
x-wso2-basePath: /75b19bed-57d0-4181-a5bd-6c6657f1acc6/default/Folder-fetch/v1.0
x-wso2-transports:
  - http
  - https
x-wso2-response-cache:
  enabled: false
  cacheTimeoutInSeconds: 300
